{
[[if config == 'debug':]]
  "name": "nxengine 1.0.0.3 (debug)",
[[else:]]
  "name": "nxengine 1.0.0.3",
[[]]
  "version": "0.0.1",
  "manifest_version": 2,
  "description": "nxengine",
  "app": {
    "background": {
      "scripts": ["background.js"]
    }
  },
  "permissions": [
    "unlimitedStorage",
    "http://*.cavestory.org/downloads/cavestoryen.zip"
  ]
}
